body {
    background-image: url("../images/stposter1.jpg")
}

.divst {
    background-color: orangered;
    width: 300px;
    border: 25px solid black;
    padding: 5px;
    padding-left: 60px;
    margin: 25px;
    margin-right: 20px;
    margin-left: 450px;
    width: 500px;
    height: 500px;
  }
  
  #startbutton {
      float: right;
  }
  .container {
      padding-left: 5px;
      
  }

input { 
    margin-right: 10px;
}
